body{
	background-color:rgb(193, 193, 193);
}
nav{
	color:white;
	background-color:#000000;
	font-family:arial;
	font-size:1.5em;
}
a:link{
	color:#FFFFFF;
	background-color:transparent;
	text-decoration:none;
}
a:hoover{
	color:#FF0000;
	background-color:transparent;
	text-decoration:underline;
}
a:active{
	color:#FF0000;
	background-color:transparent;
	text-decoration:underline;
}
.facenter{
	text-align:center;
}
.facenterlabel{
	text-align:center;
	font-family:brush script mt;
	font-size:1.5em;
	font-color:blue;
}
h2{
	font-family:arial;
}
hr{
	border-color:black;
}